@using Microsoft.AspNetCore.Components.Authorization
@using Radzen.Blazor
@inherits LayoutComponentBase

<RadzenNotification />

<AuthorizeView>
    <Authorized>
        <RadzenLayout>
            <RadzenHeader>
                <Header OnToggle="@ToggleSidebar" OnHome="@Home" />
            </RadzenHeader>
            <RadzenSidebar Style="@SidebarStyle">
                <Sidebar Collapsed="@(!isSidebarExpanded)" />
            </RadzenSidebar>
            <RadzenBody>
                <div id="top">
                    <div class="rz-p-4">
                        @Body
                    </div>
                </div>
            </RadzenBody>
        </RadzenLayout>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>